/* source Cinema effect: https://www.bypeople.com/pure-css-cinema-effect/*/

/* BASE */

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));

}

body {
  font-family: serif;
  display: flex;
  flex-direction: column;
  background-color: black;
}

header {
  text-align: center;
  color: white;
  align-items: flex-start;
  z-index: 5;
}

main {
  padding: 5vw 18vw;
}

section {
  text-align: center;
  background-color: white;
  border-style: double;
  border-width: 1rem;
  border-color: black;
  transform: skew(-1deg);
}

article {
  border-style: double;
  border-width: 0.2rem;
  border-radius: 1rem;
  border-color: #dabf98;
  background: black;
  color: white;
  margin: 1rem;
  padding: 0.5rem 1.2rem 1.2rem 1rem;
  transform: skew(-1deg);
}

span {
}

blockquote {
}

h1 {
  font-size: 2rem;
  font-family: "limelight", sans-serif;
  font-variant: small-caps;
}

h2 {
  font-size: 1.5rem;
  border-bottom-style: solid;
  border-bottom-width: 0.05rem;
  border-bottom-color: white;
  font-family: "limelight";
}

h3 {
  font-variant: small-caps;
  font-style: "Oswald";
  font-size: 0.9rem;
}

p {
  font-size: 0.7rem;
}

img {
}

/* LAYOUT */
.background {
  /* background-color: black; */
  height: 100%;
  width: 100%;
}

.menu {
  display: flex;
  text-align: center;
  flex-direction: column;
  color: black;
  align-self: center;
}

.skewLeft {
  transform: skew(2deg);
}

.skewLeft article {
  transform: skew(2deg);
}

/* MODULES */
.subtitle {
  font-family: "Oswald";
}

.categories {
  display: flex;
  font-size: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.fakeHamburger {
  margin-left: 1.7vw;
  position: fixed;
  flex-direction: column;
  align-content: space-between;
  flex-basis: auto;
  max-width: 7.5vw;
  max-height: 13vw;
  z-index: 25;
}

.fakeHamburger p {
  display: flex;
  font-family: "Bowlby One SC";
  font-variant: small-caps;
  font-size: 1.2vw;
  background-color: white;
  line-height: 75%;
  color: #d3d3d3;
  max-width: 7.5vw;
}

.fakeHamburger span {
  max-width: 7.5vw;
}

.circleLeftAbove{
  max-width: 25vh;
  max-height: 25vh;
  display: flex;
  align-self: center;
  position: absolute;
  margin-top: -12vh;
  margin-left: -5vw;

}

#thirdCircle {
  position: absolute;
  z-index: 0;
  align-self: flex-start;
  margin-left: -9vw;
  margin-top: -9vw;
}

.necklace {
  max-height: 50%;
  max-width: 50%;
  position: absolute;
  margin-left: 65vw;
  margin-top: -4vw;
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  z-index: 6;
}


/* STATE */
article:hover {
  background-color: white;
  color: black;
  border-style: double;
  transition-delay: 0.1s;
}

main:hover .circleLeftAbove {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;
  transition-delay: 1s;
  transform-origin: center;
}

main:hover #thirdCircle {
  animation-name: spinLeft;
  animation-direction: reverse;
  transform-origin: center;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  transition-timing-function: ease-in-out;

}

.necklace:after {
  position: absolute;
  top: -10px;
  left: 50%;
  z-index: 0;
  transform: rotate(45deg);
}

.necklace:before {
  position: absolute;
  width: 5px;
  height: 5px;
  top: -14px;
  left: 54%;
  z-index: 5;
  border-radius: 50% 50%;
}

.fakeHamburger:hover p {
  background-color: black;
  color: white;
  padding-left: -10vw;
}

.grains:hover {
  animation: grains 8s steps(10) infinite;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png);
  content: "";
  height: 850vw;
  left: -400vw;
  opacity: 0.9;
  top: 820vw;
  width: 150vw;
  z-index: 23;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg");
}

.grain1 .grain2 .grain3{
}

.grain1{
  width: 130%;
  height: 210%;
  margin-left: -20%;
  margin-top: -10%;
  animation: grain 0.0002s steps(10) infinite;
  animation-direction: reverse;
  z-index: 0;
  position: fixed;
  opacity: 0.8;

}

.grain2{
  width: 130%;
  height: 200%;
  margin-left: -10%;
  margin-top: -10%;
  animation: grain 0.0004s steps(10) infinite;
  position: fixed;
  z-index: -1;
  opacity: 0.8;
}

.grain3{
  width: 130%;
  height: 200%;
  margin-left: -10%;
  margin-top: -10%;
  z-index: -2;
  opacity: 0.85;
  position: fixed;
}

.grainbg{
  display: inline-flex;
  background-color: black;
  opacity: 0.4;
}



/* THEME */
.grains {
  height: 800vh;
  width: 125vw;
  background: cover;
  margin-left: -25vw;
  margin-top: -25vw;
  opacity: 0.8;
  z-index: 20;
  position: absolute;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg");
  visibility: hidden;
}

input[type="checkbox"] {
  position: absolute;
  display: none;
}

input[type="checkbox"]:checked ~ .grains {
  visibility: visible;
  height: 800vh;
  width: 125vw;
  background: cover;
  margin-left: -25vw;
  margin-top: -25vw;
  opacity: 0.9;
  z-index: 20;
  position: fixed;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg");
  background-size: cover;
}

input[type="checkbox"]:checked ~ .grains:hover {
  visibility: visible;
  animation: grains 2s steps(10) infinite;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/paper-pattern.png);
  content: "";
  height: 850vw;
  left: -400vw;
  opacity: 0.9;
  top: 820vw;
  width: 150vw;
  z-index: 23;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/grain.jpg");
}

input[type="checkbox"]:checked ~ .fakeHamburger {
  z-index: 30;
}



@keyframes grain {
  0%, 100% {
    transform: translate(0, 0, 0);
  }

  10% {
    transform: translate(-1%, -1%);
  }

  20% {
    transform: translate(1%, 1%);
  }

  30% {
    transform: translate(-2%, -2%);
  }

  40% {
    transform: translate(3%, 3%);
  }

  50% {
    transform: translate(-3%, -3%);
  }

  60% {
    transform: translate(4%, 4%);
  }

  70% {
    transform: translate(-4%, -4%);
  }

  80% {
    transform: translate(2%, 2%);
  }

  90% {
    transform: translate(-3%, -3%);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinLeft {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes swing {
  0% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

@keyframes grains {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}
