/* BASE */

*{
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}

body{

}

header{

}

main{

}

section{

}

article{

}

span{

}

blockquote{

}

h1{

}

h2{

}

p{

}




/* LAYOUT */

/* MODULES */

/* STATE */

/* THEME */
