/* BASE */

*{
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}

body{
  font-family: serif;
  background-color: black;
}

header{
  text-align: center;
}

main{
  color: black;
  text-align: center;
  padding: 5vw;
  margin: 5vw 10vw;
}

section{
  background-color: white;
  border-style: double;
  border-width: 1rem;
  border-color: black;
  transform: skew(1deg);

}

article{
  border-style: ridge;
  border-width: 0.1rem;
  border-radius: 1rem;
  border-color: red;
  background-color: black;
  margin: 1rem;
  padding: 0.5rem 1.2rem 1.2rem 1rem;
  color: white;

}

span{

}

blockquote{

}

h1{
  font-size: 3rem;
  font-family: 'limelight', sans-serif;
  font-variant: small-caps;
  color: white;

}

h2{
  font-size: 2.7rem;
  border-bottom-style: solid;
  border-bottom-width: 0.05rem;
  border-bottom-color: white;
  font-family: 'limelight';
}

h3{
  font-variant: small-caps;
  font-style: "Oswald";
  color: white;
}

p{
  color: white;
}

img{
}

/* LAYOUT */
.border{
  background-color: black;
  margin: 5vw 15vw;
  padding: 2vw;
}

.subtitle{
  font-family: "Oswald";
}

/* MODULES */
.categories{
  display: flex;
  font-size: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.fakeHamburger{
  font-family: 'Bowlby One SC';
  font-variant: small-caps;

}

.circleLeftAbove{
      /* display: inline-flex; */
      height: 30%;
      width: 30%;
      position: absolute;
      z-index: 5;
      margin-left: -50vw;
      margin-bottom: -30vw;
    }

.necklace{
  /* display: inline-flex; */
  height: 40%;
  width: 40%;
  position: absolute;
  margin-left: 65vw;
  margin-top: -4vw;
  animation: swing ease-in-out 1s infinite alternate;
  transform-origin: center -20px;
  z-index: 6;
}





/* STATE */

article:hover{
  background-color: black;
  color: black;
  border-style: double;
  transition-delay: 0.15s;
}

main:hover .circleLeftAbove {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* transform: rotate(3deg); */
   /* transform: rotate(0.3rad);/ */
   /* transform: rotate(3grad); */
   /* transform: rotate(.03turn);  */
}
.necklace:after{
    position: absolute;
    top: -10px; left: 50%;
    z-index: 0;
    transform: rotate(45deg);
}
/* nail */
.necklace:before{
    position: absolute;
    width: 5px; height: 5px;
    top: -14px;left: 54%;
    z-index: 5;
    border-radius: 50% 50%;
}


@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

/* THEME */
